.footer-container{
    margin-top: 10px;
    padding: 15px;
    
    >:first-child{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        >p{
            margin: 1px 43px 9px 13px;
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 13px;
        }
    
    }
    >:nth-child(3){
        display: flex;
        align-items: center;
        justify-content: space-between;
        >:first-child{
            align-items: center;
            display: flex;
        }
        .Linkedin {
            width: 24px;
            height: auto;
            color: #0a65c6;
          }
    }
}

@media (max-width:600px){
    .footer-container{
        >:first-child{
    >p{        margin: 3px 14px 3px 0px;
        font-size: 12px;
        
    }
    
}
    }

}
