.back-img{
    background: url('https://res.cloudinary.com/dbhwa5s6y/image/upload/v1627489555/bg_avusdc.jpg');
    width: 100%;
    height: 235px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: inherit;
}
.head-container{
    border-radius: 7px;
    p{
        margin-top: 6px;
        margin-bottom: 6px;
    }
    >:nth-child(2){
        height: 100%;
        width: auto;
        margin-top: -50px;
        background: white;
        padding: 20px;
        border-radius: 7px;
       
        >:first-child{
            background: white;
            width: 50px;
            padding: 16px 32px;
            border: 1px solid #e6e4e1;
            margin-top: -87px;
            border-radius: 5px;
           
            >img{
                height: auto;
                width: 50px;
            }
        }
        >:nth-child(2){
            font-size: 30px;
            font-weight: 700;
        }
        >:nth-child(4){
            opacity: 0.6;
        }
        .btns{
            display: flex;
            button{
                cursor: pointer;
                display: flex;
                margin-right: 15px;
                align-items: center;
                border: none;
                border-radius: 4px;
                font-weight: 500;
            }
            >:first-child{
                color: white;
                height: 35px;
                background-color: #0a65c6;
                width: 92px;
                display: flex;
                align-items: center;
                svg{
                    margin-right: 7px;
                    color: white;
                    width: 16px;
                }
                p{
                    position: absolute;
                    margin-top: -6px;
                    text-align: right;
                    margin-left: 13px;
                    color: white;
                }
            }
            >:nth-child(2){
                border: 1px solid #0a65c6;
                background: white;
                height: 35px;
                svg{
                    color: #0a65c6;
                    width: 16px;
                    margin-right: 9px;
                }
            }
            >:nth-child(3){
                background-color: #93c4f975;
                width: 32px;
                text-align: center;
                >p{
                    margin: auto;
                    font-weight: 700;
                    color: #0a65c6;
                }
            }
            
        }
        >:nth-child(5){
            color: #0a65c6;
            display: flex;
            text-decoration: none;
            align-items: center;
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: 600;
            svg{
                width: 22px;
                padding-top: 3.5px;
                height: 13px;
            }
        }
    }
}

@media (max-width: 768px){

.head-container{
    >:nth-child(2){
        >:nth-child(2){
font-size: 19px;
        }
        >:nth-child(3){
            font-size: 11px;
        }
        >:nth-child(4){
            font-size: 11px;
        }
        >:nth-child(5){
            font-size: 11px;
        }
    }
}
}